img {
    width: 700px;
  }
  
  h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
  }
  
  h1 {
      background-color: aliceblue;
    }

.text p {
    display: inline-block;
    max-width: 60%;
    margin: 5px;
    padding: 5px 10px;
    border-radius: 15px;
    background-color: goldenrod;
    color: rgb(27, 10, 104);
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}

#output {
    background-color: antiquewhite;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}