/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
h1 {
    background-color: #b4a4b4aa;
    text-align: center;
    font-size: 35px;
    font-family: "papyrus", fantasy;
    opacity:1;
  }

body {
  background-image: url(https://w0.peakpx.com/wallpaper/31/771/HD-wallpaper-birds-crows-art.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity:1;
}

p{
  background-color: #ca2e2e;
  color: #ffff;
  text-indent: 20px;
  margin-left: 10px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  opacity: 1;
}

#content {
  width: 1000px;
  min-height: 300px;
  border: dashed 2px #ca3455aa;
  background-color: #e3dede;
  opacity: 1;
}